{% extends 'stickoverflow/base.html' %}
{% block content %}

<h1>About Us Page</h1>

<style media="screen">
  .about_right {
    text-align: right;
    background-color: #e9e9e9;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 150px;
  }
  .about_left {
    text-align: left;
    background-color: #d3d3d3;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 150px;
  }
  .about_body {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .img_body{
    margin: 20px 10px 10px 10px;
  }
</style>
  <div class="about_body">
    <div class="about_left">
      <a class = "img_body" href = "https://github.com/Lee-App">
        <img class = "img_body" src="https://avatars1.githubusercontent.com/u/17589687?s=400&v=4" alt="이헌우" width=100px height=100px> 이헌우 - [팀장, Back-end] </a>        
    </div>

    <div class="about_right">
      <a class = "img_body" href = "https://github.com/PowerSH"> 박승훈 - [디자인, Front-end]
        <img class = "img_body" src="https://avatars2.githubusercontent.com/u/39876295?s=400&v=4" alt="박승훈" width=100px height=100px></a>
    </div>

    <div class="about_left">
      <a class = "img_body" href = "https://github.com/Dongmini">
        <img class = "img_body" src="https://avatars1.githubusercontent.com/u/30786827?s=400&v=4" alt="김동민" width=100px height=100px> 김동민 - [분석] </a>
    </div>

    <div class="about_right">
      <a class = "img_body" href = "https://github.com/SuperSecy"> 박상훈 - [DB설계]
        <img class = "img_body" src="https://avatars1.githubusercontent.com/u/45090290?s=400&v=4" alt="박상훈" width=100px height=100px></a>
    </div>
  </div>
{% endblock %}
