{% extends 'stickoverflow/base.html' %}
{% block content %}

<h1>About Us Page</h1>

<style media="screen">
  .about_right {
    text-align: right;
    background-color: grey;
  }
  .about_left {
    text-align: left;
  }
  .about_body {
    font-size: 24px;
    font-weight: bold;
  }
  .img_body{
    margin: 10px 10px 10px 10px;    
  }
</style>
<div class="about_body">
<div class="about_left">
  <a href = "https://github.com/Lee-App"><img src="https://avatars1.githubusercontent.com/u/17589687?s=400&v=4" alt="이헌우" width=100px height=100px></a>
  <p style = "">이헌우 - [팀장, Back-end]</p>
</div>

<div class="about_right">
  <a class = "img_body" href = "https://github.com/PowerSH"><img src="https://avatars2.githubusercontent.com/u/39876295?s=400&v=4" alt="박승훈" width=100px height=100px></a>
  <p>박승훈 - [디자인, Front-end]</p>
</div>

<div class="about_left">
  <a href = "https://github.com/Dongmini"><img src="https://avatars1.githubusercontent.com/u/30786827?s=400&v=4" alt="김동민" width=100px height=100px></a>
  <p>김동민 - [분석]</p>
</div>

<div class="about_right">
  <a href = "https://github.com/SuperSecy"><img src="https://avatars1.githubusercontent.com/u/45090290?s=400&v=4" alt="박상훈" width=100px height=100px></a>
  <p>박상훈 - [DB설계]</p>
</div>
</div>
{% endblock %}
