{% extends 'stickoverflow/base.html' %}
{% block content %}

<style>
	.inner { height : 200px;}
	.img_setting {
	 width : 100px;
	 height : 100px;
	 margin:50px;
	}
</style>

<div class = "inner">
	<center>
		<h1>
			Stick Overflow
		</h1>
		<h3>
			Analysis Your Data<br>
		</h3>
	</center>
</div>
<center>
	<img class = "img_setting"; src = "https://ifh.cc/g/CRhiI.png"></img>
	<img class = "img_setting"; src = "https://ifh.cc/g/oZE3J.png"></img>
	<img class = "img_setting"; src = "https://ifh.cc/g/1jCwU.png"></img>
</center>

{% endblock %}
