{% extends 'stickoverflow/base.html' %}
{% block content %}

{% if request.session.user %}
<h2>Upload</h2>
<form method = "post" enctype="multipart/form-data" action="{% url 'upload' %}">
	{% csrf_token %}
	{{ form.as_p }}
	<button type = "submit">Upload File</button>
</form>
{% if file_list %}
<h3>File List ---- {{ request.session.user }}</h3>
	{% for file in file_list %}
	<li>{{file}}</li>
	{% endfor %}
{% endif %}

{% else %}
<p>로그인이 필요합니다!</p>
{% endif %}

<title>File_Table</title>
<table border = "1">
	<th>File Name</th>
	<th>File Size</th>
	<th>File Type</th>
	<th>Date</th>
	<th>Select</th>

	<tr>
		<td>a<a src = 'stick_overflow/media/{{file}}'></td>
		<td>b</td>
		<td>c</td>
		<td>d</td>
		<td>e</td>
	</tr>

{% for file in files %}
<h1 src = 'stick_overflow/media/{{file}}' />
{% endfor %}

{% endblock %}
