<!-- 로그인 -->
{% extends 'stickoverflow/base.html' %}
  {% block content %}
  {% load static %}
  <link rel = "stylesheet" type="text/css" href = "{% static 'stickoverflow/style.css/' %}"/>
  <!-- 로그인 되어있는 경우 -->
  {% if request.session.user %}
  <h2> Welcome, {{ request.session.user }} </h2>
  <a href="{% url 'logout' %}">로그아웃</a>

  <!-- 로그인 되어있지 않은 경우 -->
  {% else %}
  <h2> Login </h2>
  {% if form.errors %}
    <!-- 에러발생시 -->
  <p>ID나 비밀번호가 일치하지 않습니다.</p>
  {% endif %}
    <!-- 로그인 폼 -->
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        <div class="field_label_tag">
          {{ field.label_tag }}
        </div>
        <div class="field_label">
          {{ field }}
        </div>
        <!--{{ field.label_tag }} {{ field }}-->
    </div>
{% endfor %}
  <br>
  <button type="submit">로그인</button>
  </form>

  <br>
  <p>아이디가 없으신가요? <a href="{% url 'signup' %}" style = "color : skyblue">회원가입</a></p>

  {% endif %}
  {% endblock %}
